body {
}

nav {
    clear:both;
}

#menu {
    list-style:none;
    background-color:gainsboro;
    padding-left:400px;
    margin:auto;
}

#menu li a {
    font-family:'Times New Roman', Times, serif;
    font-size:3mm;
    text-decoration:none;
    padding:5px;
    color:black;
    display:block;

}

#menu li {
    text-align:center;
    display:inline-block;
}

#menu li a:hover {
    background-color:Highlight;
    color:aliceblue;
}

section {
    margin-top:100px;
    margin-left:400px;
    margin-right:700px;
    

}

#carrusel {

}

#myCarousel {
   
}

.carousel-inner {
   
}

/*Pie de pagina*/

footer {
    clear:both
}

h2 {
    color: ghostwhite;
    font-size: 6mm;
}
   
.info {
    margin: auto;
    padding-left: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
    width: 190px;
    float: left;
    background-color: rgb(78, 76, 76);
}

#lateral {
    padding-left: 600px;
}


.redes {
    width: 35px;
    height: 37px;
    padding-left: 5px;
    float: left;
}

#parrafo1 {
    font-size: small;
    color: gray
}

p {
    font-size: x-small;
    color: gray;
}


