body {
    
}

section {
    background-color:white;
}

h1 {
    margin:5px auto;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    color:white;
    background-color:Highlight;
    font-family:Arial;
    font-style:oblique;
    font-weight:bold;

}

h2 {
    color:ghostwhite;
    font-size:6mm;
}

span {
    color:Highlight;

}

article {
    padding-left:200px;
    padding-right:200px;

}

figure {
    float:left;
    padding-left:5px;
    padding-right:5px;

}

.imagen {
    width: 100px;
    height: 100px;
    -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
}

figure .imagen:hover {
    -webkit-transform: scale(1.2);
}

.pieImg {
    text-align:left;
    color:Highlight;
    font-family:'Times New Roman', Times, serif;
    

}

.btn {
    background-color: Highlight;
    color: white;
    margin-top: 10px;
    border: 1px solid Highlight;
}

/*pie de la pagina*/

footer {
    clear:both;
    
    
}

div {
    margin: auto;
    padding-left: 60px;
    padding-top: 60px;
    width: 15%;
    float: left;
}

#lateral {
    background-color: rgb(78, 76, 76);
    padding-left: 200px;
    padding-bottom: 80px;
    margin-top:30px;
}

#user {
    background-color: rgb(78, 76, 76);
    padding-bottom: 64px;
    margin-top: 30px;
}

#ctr {
    background-color: rgb(78, 76, 76);
    padding-bottom: 64px;
    margin-top: 30px;
}

#news {
    background-color: rgb(78, 76, 76);
    padding-right: 150px;
    padding-bottom: 166px;
    margin-top:30px;
}

.redes {
    width:35px;
    height:37px;
    padding-left:5px;
    float:left;

}

#parrafo1 {
    font-size:small;
    color:gray
}

p {
    font-size:x-small;
    color:gray;

}

