body {
}

aside {
    background-color:brown;
    width:300px;
    height:850px;
    float:left;
    margin:0px auto;

}

#lateral2 {
    background-color:olive;
    width:500px;
    float:left;
    margin:0px auto;
}

#lateral3 {
    background-color:burlywood;
    width:530px;
    float:left;
    margin:0px auto;
}

ul {
    margin-top:40px;
    list-style:none;
    
}

li {
    display:inline;
    color:Highlight;
}

#picture {
    width:160px;
    height:160px;
    margin-left:60px;
    border:dashed 2px grey;

}

#lateral2 figure {
    margin-top:20px;
}

#pic {
    width:50px;
    height:50px;
    padding-left:50px;

}

.pre {
    color:Highlight;
    font-size:x-small;
}

h1 {
    color:orange;
    font-weight:bold;
    font-family:Consolas;
    padding:5px;
}

.subt {
    color:orange;
    font-family:Consolas;
    padding:5px;
}

h3 {
    font-style:italic;
    padding-left:20px;
    padding-bottom:10px;

}

#precio {
    padding-left:20px;

}

#boton1 {
    height:40px;
    margin-top:3px;
    color:aliceblue;
    background-color:Highlight;
    border:1px solid Highlight;

}

#boton3 {
    margin-left:190px;
    height:40px;
    background-color:Highlight;
    color:aliceblue;
    border:solid 1px Highlight;
}

#boton4 {
    height: 40px;
    background-color: white;
    color: black;
    border: solid 1px white;
}


#cantidad {
    width:30px;

}

figure {
    margin-top:80px;
    
}


.foto {
    width:20%;

}

.pie1 {
    float:right;
    padding-right:60px;
    
    
}

/*pie de pagina*/

footer {
    clear: both;
}

h2 {
    color: ghostwhite;
    font-size: 6mm;
}

div {
    margin: auto;
    padding-left: 60px;
    padding-top: 60px;
    width: 15%;
    float: left;
}

#lateral {
    background-color: rgb(78, 76, 76);
    padding-left: 200px;
    padding-bottom: 80px;
    margin-top: 30px;
}

#user {
    background-color: rgb(78, 76, 76);
    padding-bottom: 64px;
    margin-top: 30px;
}

#ctr {
    background-color: rgb(78, 76, 76);
    padding-bottom: 64px;
    margin-top: 30px;
}

#news {
    background-color: rgb(78, 76, 76);
    padding-right: 150px;
    padding-bottom: 166px;
    margin-top: 30px;
}

.redes {
    width: 35px;
    height: 37px;
    padding-left: 5px;
    float: left;
}

#parrafo1 {
    font-size: small;
    color: gray
}

p {
    font-size: x-small;
    color: gray;
}



