body {
}

h1 {
    margin: 5px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: Highlight;
    font-family: Arial;
    font-style: oblique;
    font-weight: bold;
}

h3 {
    color: orange;
    font-family: Consolas;
    font-weight: bold;
}

#derecha {
    margin-left: 200px;
    width: 250px;
    float: left;
    

}

#izq {
    width: 650px;
    height: 780px;
    float: left;
    
}

#boton {
    width: 80px;
    height: 20px;
    text-align: center;
    background-color: Highlight;
    color: aliceblue;
    border: 1px solid Highlight;
}

.pictures {
    margin-top: 60px;
    float: left;
}

.foto {
    width: 20%;
    float: left;
}

.pre {
    color: Highlight;
    font-size: x-small;
}

.post {
    font-family: Consolas;
    font-size: small;
    color: Highlight;
}

.botn {
    background-color:Highlight;
    color:aliceblue;
    padding:10px;
    border:solid 1px Highlight;

}

#tab1 {
    width:100%;

}

#tab2 {
    width:235px;

}

th, td {
    padding:15px;
}

#tab1, th, td {
    border:1px solid Highlight;
    border-collapse:collapse;

}

#tab2, td {
    border-collapse:collapse;
    padding:5px;
    font-size:small;
}

.ti {
    color:Highlight;
}

#btncant {
    width:30px;


}

#lat1 {
    width:355px;
    float:left;
    padding-left:0px;
}

#lat2 {
    width:180px;

}

.minf {
    float:left;

}

.photo {
    width:80px;
    height:150px;
    border:solid 1px gray;

}

/*pie de pagina*/
footer {
    clear: both;
}

h2 {
    color: ghostwhite;
    font-size: 6mm;
}

div {
    margin: auto;
    padding-left: 60px;
    padding-top: 60px;
    width: 15%;
    float: left;
}

#lateral {
    background-color: rgb(78, 76, 76);
    padding-left: 200px;
    padding-bottom: 80px;
    margin-top: 30px;
}

#user {
    background-color: rgb(78, 76, 76);
    padding-bottom: 64px;
    margin-top: 30px;
}

#ctr {
    background-color: rgb(78, 76, 76);
    padding-bottom: 64px;
    margin-top: 30px;
}

#news {
    background-color: rgb(78, 76, 76);
    padding-right: 150px;
    padding-bottom: 166px;
    margin-top: 30px;
}

.redes {
    width: 35px;
    height: 37px;
    padding-left: 5px;
    float: left;
}

#parrafo1 {
    font-size: small;
    color: gray
}

.frase {
    font-size: x-small;
    color: gray;
}

